.modal-header,
.modal-footer
  background-color #f9f9f9
 
.modal-header 
  border-top-left-radius 6px
  border-top-right-radius 6px

.modal-footer
  border-bottom-left-radius 6px
  border-bottom-right-radius 6px