header .navbar-brand-container
  position absolute
  width 100%
  left 0
  top 0
  height 100%

header .navbar-brand-container .navbar-brand
  float none 
  display inline-block

header .navbar-nav.navbar-right:last-child
  margin-right 0

header .navbar-brand-container .navbar-brand .badge
  position relative
  top -2px