head
  title Brand
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

template(name="layout")
  #drawers.snap-drawers
    div.snap-drawer.snap-drawer-left
      h1 Left
    div.snap-drawer.snap-drawer-right
      h1 Right
  #content.snap-content
    header
      +yield region="header"
    section#main.container-fluid
      +yield
    footer
      +yield region="footer"

