head
  title Brand
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

template(name="layout")
  #drawers.snap-drawers
    .snap-drawer.snap-drawer-left
      +searchForm
    .snap-drawer.snap-drawer-right
      h1 Right

  #content.snap-content
    header
      +header

    section#main.container-fluid
      .row.row-full-height
        aside.col-md-3.well.full-height-background.hidden-xs.hidden-sm
        aside.col-md-3.hidden-xs.hidden-sm
          +searchForm
         
        article.col-md-9.col-sm-12.thumnbail-container
          if currentUser
            if student
              .row.hidden-xs
                +footer
          +yield

    if currentUser
      if student
        footer.visible-xs-block
          +footer
    //
      

  #modals
    +addNewStudent


