html
  position relative

body
  padding-bottom 60px

#main .row aside
  border-radius 0
  border-top none
  border-bottom none

#main .row article
  padding-top 20px
  padding-bottom 20px

html,
body,
#main
  min-height 100%

.row aside
  padding-top 20px
  padding-bottom 20px

.row-full-height
  display table
  height 100%

.row-full-height > *[class*='col-']
  display table-cell
  float none
  vertical-align top

.row-full-height > aside.full-height-background
  position absolute
  height 100%
  top 0
  margin-bottom -60px