html,
body,
#content
  min-height 100%

html
  position relative

#drawers
  background-color #f5f5f5
  color white

#content
  background-color white
  height 100%

header,
footer
  height 50px
  width 100% 
  position absolute
  background-color #ddd

header 
  top 0

footer
  bottom 0

#main
  width 100% 
  position absolute 
  top 50px 
  bottom 50px
  height auto
  overflow hidden

#main > .row > article
  padding-top 20px

#main .row aside
  border-radius 0
  border-top none
  border-bottom none

.row aside
  padding 0

@media (min-width: 992px)
  #main
    min-height 100%
    top 0
    padding-top 50px

  .visible-lg-table-cell
    display table-cell !important

  .row-full-height
    display table
    height 100%

  .row-full-height > *[class*='col-']
    display table-cell
    float none
    vertical-align top

  .row-full-height > aside.full-height-background
    position absolute
    height 100%
    top 0
    margin-bottom -50px

@media (max-width: 991px)
  .visible-lg-table-cell
    display none !important
