head
  title Brand
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

template(name="layout")
  #drawers.snap-drawers
    .snap-drawer.snap-drawer-left
      +searchForm
    .snap-drawer.snap-drawer-right
      h1 Right
  #content.snap-content
    header
      +yield region="header"
    section#main.container-fluid
      +yield
    if currentUser
      if student
        footer.visible-xs-block
          +yield region="footer"

