template(name="index")
  .row.row-full-height
    //
      aside.col-lg-2.well.full-height-background.visible-lg-table-cell
      aside.col-lg-2.visible-lg-table-cell
        +searchForm
    
    //
      aside.col-lg-2.well.full-height-background.visible-lg-table-cell
      aside.col-lg-2.visible-lg-table-cell
        p.lead.notes-header Notes

        if notes.length
          hr

        ul.media-list
          each notes
            li.media
              img.pull-left.media-object.media-thumbnail
              .media-body(href="#")
                strong {{authorId}}
                p {{message}}

        hr

        form#comment-form
          .form-group
            textarea.form-control(role="comment", name="message", placeholder="Type in here to comment ...")
          .form-group
            button.btn.btn-success.pull-right(type="submit") Comment

              