#search-form-nav
  border-right 1px solid #ddd
  border-top 1px solid #ddd
  height 50px

#search-form-nav li
  border-right 1px solid #ddd

@media (max-width: 767px)
  #search-form-nav .container-fluid .row
    margin-left 0
    margin-right 0

  #search-form-nav .navbar-nav
    margin 0 -15px

  #search-form-nav li a
    height 50px
    padding 15px
    margin-left -4px

  #search-form-nav li:first-child a
    margin-left 0

  #search-form-nav li
    display inline-block